.DurationPayments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.DurationPayments h3 {
    align-self: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
}

.time {
    flex-grow: 1;
    /* width: 100%; */
}